<section id="about">
  <% if (config.description) { %>
    <div class="description coding">
      <p class="en prompt"></p>
      <p class="ch prompt"></p>
      <p class="author prompt "></p>
    </div>
  <% } %>
  <p style="display: inline">
      <span>
          <i class="fa fa-eye"></i>
          <!-- PV:  -->
          <span id="busuanzi_container_site_pv">
            <span id="busuanzi_value_site_pv">0</span>
          </span>
        </span>|
    <% if (theme.customize.social_links) { %>
      Find me on
      <ul id="sociallinks">
        <% for(var i in theme.customize.social_links) { %>
          <li><a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[i]) %>" title="<%= i %>"><i class="fa fa-<%= i %>"></i></a></li>
        <% } %>
      </ul>.
    <% } %>
  </p>
  <p class="prompt ad-text output new-output">
      p.s. 网站已经支持PWA,可尝试添加到桌面
  </p>
  
</section>

<section id="writing">
  
  <span class="h1"><a href="<%- url_for("archives") %>">Writing</a></span>
  <ul class="post-list">
    <% site.posts.filter(function(item){return !item.reprint}).sort('date', 'desc').limit(theme.customize.post_count || 5).each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
</section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>">Projects</a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
