<!DOCTYPE html>
<html mip <%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index width mx-auto px3 my4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
    </div>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_mobile') %>
    <% } %>
    <%- partial('_partial/footer', {}, {cache: true}) %>
    <%- partial('_partial/scripts', {}, {cache: true}) %>
</body>
</html>
